<% include includes.ejs %>
<body>
<header class="headerArea">
    <div class="logo pull-left">
        <h2><a href="index.ejs">Info<span>Restal</span></a></h2>
    </div>
    <nav class="mainMenu pull-left">
        <div class="menuButton hidden-lg hidden-md">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li class="active hasChild"><a href="index.ejs">Home</a>
                <ul class="dropMenu">
                    <li><a href="index.ejs">Home One</a></li>
                    <li><a href="index2.html">Home Two</a></li>
                    <li><a href="index3.html">Home Three</a></li>
                    <li><a href="index4.html">Home Four</a></li>
                    <li><a href="dark.html">Dark Version</a></li>
                    <li><a href="box.html">Box Version</a></li>
                </ul>
            </li>
            <li class="hasChild"><a href="folio1.html">Gallery</a>
                <ul class="dropMenu">
                    <li><a href="folio1.html">Folio 1</a></li>
                    <li><a href="folio2.html">Folio 2</a></li>
                    <li><a href="folio2.html">Folio 3</a></li>
                    <li><a href="folioSingle.html">Folio Single</a></li>
                </ul>
            </li>
            <li class="hasChild"><a href="blogGrid.html">Blog</a>
                <ul class="dropMenu">
                    <li><a href="blogGrid.html">Blog Grid</a></li>
                    <li><a href="blogSidebar.html">Blog Sidebar</a></li>
                    <li><a href="blogSingle.html">Blog Single</a></li>
                </ul>
            </li>
            <li class="hasChild"><a href="#">Pages</a>
                <ul class="dropMenu">
                    <li><a href="member.html">member</a></li>
                    <li><a href="404.html">404</a></li>
                    <li class="hasChild"><a href="event.html">event</a>
                        <ul class="dropSub">
                            <li><a href="event.html">Event</a></li>
                            <li><a href="eventSingle.html">Event Single</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="topSocial pull-right">
        <ul>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="google" href="#"><i class="fa fa-google"></i></a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</header>