<% include includes.ejs %>
<body>
<header class="headerArea_2">
    <div class="logo pull-left">
        <h2><a href="/map/index">Info<span>Restal</span></a></h2>
    </div>
    <nav class="mainMenu pull-left">
        <div class="menuButton hidden-lg hidden-md">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li class="active hasChild"><a href="/map/index">Inicio</a>
            </li>
            <li class="hasChild"><a href="folio1.html">Mapas</a>
                <ul class="dropMenu">
                    <li><a href="folio1.html">Senderos</a></li>
                    <li><a href="folio2.html">Parques</a></li>
                    <li><a href="folio2.html">Areas recreativas</a></li>
                </ul>
            </li>
            <li class="hasChild"><a href="blogGrid.html">Mi cuenta</a>
            </li>
            <li><a href="contact.html">Contacto</a></li>
        </ul>
    </nav>
    <div class="topSocial pull-right">
        <ul>
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="google" href="#"><i class="fa fa-google"></i></a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</header>