<section class="contactArea commonSection back_black">
    <div class="container">
        <div class="row ">
            <div class="col-lg-5 col-sm-12 col-xs-12 text-center wow fadeInUp card" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="contactForm">
                    <h1>Registro</h1>
                    <form method="post" action="/newUser" id="unContactForm">
                        <div class="col-md-10 col-md-offset-1">
                            <input class="text-center required" type="text" placeholder="Nick" name="nick">
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <input class="text-center required" type="email" placeholder="Email" name="mail">
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <input class="text-center required" type="password" placeholder="Contraseña" name="password">
                        </div>
                        <!-- <textarea class="required" placeholder="Message" name="message"></textarea>-->
                        <div class="register_button">
                        <button class="text-center" type="submit" id="unConSubmit">Registrarme</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-1 col-lg-offset-1 col-sm-12 col-xs-12 text-center wow fadeInUp">
                <div class="divisor hidden-xs hidden-md"></div>
                <div class="hidden-lg"><hr></div>



            </div>
            <div class="col-lg-5 col-sm-12 col-xs-12 text-center wow fadeInUp card" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="contactForm contactForm2">
                    <h1>Log-in</h1>
                    <form method="post" action="/login" id="unContactForm">
                        <div class="col-md-10 col-md-offset-1">
                            <input class="text-center required" type="text" placeholder="Nick" name="name">
                        </div>
                        <div class="col-md-10 col-md-offset-1">
                            <input class="text-center required" type="password" placeholder="Contraseña" name="password">
                        </div>
                        <!-- <textarea class="required" placeholder="Message" name="message"></textarea>-->
                        <div class="login_button">
                        <button class="text-center" type="submit" id="unConSubmit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>