<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/crud" method="POST">
    <input type="text" placeholder="Partida" name="partida">
    <input type="text" placeholder="Fin" name="fin">
    <input type="text" placeholder="Dificultad" name="dificultad">
    <input type="text" placeholder="Mapa" name="mapa">
    <input type="text" placeholder="Distancia" name="distancia">
    <input type="text" placeholder="Duración" name="duracion">
    <input type="text" placeholder="Latitud" name="latitud">
    <input type="text" placeholder="Longitud" name="longitud">
    <button type="submit">Submit</button>
</form>
</body>
</html>
