<!DOCTYPE html>
<% include includes/head2.ejs %>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .leyenda {
            width: 10%;
            height: auto;
        }
        #legend {
            font-family: Arial, sans-serif;
            background: #fff;
            padding: 10px;
            width: 150px;
            margin: 10px;
            border: 0px solid #000;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
        #legend h3 {
            margin-top: 0;
        }
        #legend img {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div id="legend"></div>
<div class="up_map" id="map"><h3>Leyenda</h3></div>


<script>

    // This example displays a marker at the center of Australia.
    // When the user clicks the marker, an info window opens.

//    let sitios = [[28.291565, -16.629129], [28.291565, -16]]
//    function setMakers(map){
//        for (let i = 0; i < 1; i++) {
////              let contentString = '<div id="content">' +
////                  '<div id="siteNotice">' +
////                  '</div>' +
////                  '<h1 id="firstHeading" class="firstHeading">Prueba</h1>' +
////                  '<div id="bodyContent">' + 'Esto no es mas que una prueba';
//////
////              let infowindow = new google.maps.InfoWindow({
////                  content: contentString
////              });
////            let pos = {lat: sitios[i][0], lng: sitios[i].[1]};
////
////            let marker = new google.maps.Marker({
////                position: pos,
////                map: map,
////                title: ''
////            });
////
////              marker.addListener('click', function () {
////                  infowindow.open(map, marker);
////              });
//            var beachMarker = new google.maps.Marker({
//                position: {lat: sitios[i][0], lng: sitios[i][1]},
//                map: map,
//                title: sitios[i][0],
//            });
//            console.log(beachMarker);
//
//
//        }
//    }
//    function initMap() {
//        let sitios = [[28.291565, -16.629129], [28.291565, -16]]
//        let Tenerife = {lat: 28.291565, lng: -16.629129};
//        let map = new google.maps.Map(document.getElementById('map'), {
//            zoom: 10,
//            center: Tenerife,
//            mapTypeControl: false,
//            fullScreenControl: false,
//
//        });
//        setMarkers(map);
//    }

    let icons = {
        senderos: {
            name: 'Senderos',
            icon: '/images/hiking2.png'
        },
        parques:{
            name: 'Parques Recreativo',
            icon: '/images/tree_black.png'
        },
        ninos:{
            name: 'Parques Infantiles',
            icon: '/images/ball.png'
        },



    };

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: 28.291565, lng: -16.629129},
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#523735"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#c9b2a6"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#dcd2be"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ae9e90"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#93817c"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#a5b076"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#447530"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#fdfcf8"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f8c967"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#e9bc62"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e98d58"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#db8555"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#806b63"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#8f7d77"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#b9d3c2"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#92998d"
                        }
                    ]
                }
            ],
            mapTypeControl: false,
            streetView:false,
            disableDefaultUI: true,
        });

        setMarkers(map);
    }

    // Data for the markers consisting of a name, a LatLng and a zIndex for the
    // order in which these markers should display on top of each other.
    var beaches = [
        [28.291565, -16.629129],
        [28.291565, -16]
    ];

    function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.

        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };
        var infoWindow = new google.maps.InfoWindow(), marker, i;
        for (var i = 0; i < beaches.length; i++) {
            var beach = beaches[i];
            var marker = new google.maps.Marker({
                position: {lat: beach[0], lng: beach[1]},
                map: map,
                icon:icons.senderos.icon,
                animation: google.maps.Animation.DROP,
                //shape: shape,
                title:"Hello World!",
                zIndex: beach[3],
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infoWindow.setContent(""+beaches[i]+"");
                    infoWindow.open(map, marker);
                }
            })(marker, i));
        }
        var flightPlanCoordinates = [
            {lat: 28.291565, lng: -16.629129},
            {lat: 28.291565, lng: -16}
        ];
        //Dibujamos la línea en el mapa
        var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        flightPath.setMap(map);

        var legend = document.getElementById('legend');
        let aux = 0
        for (var key in icons) {
            var type = icons[key];
            var name = type.name;
            var icon = type.icon;
            var div = document.createElement('div');

            div.innerHTML = '<img class="leyenda" width="10px" height="10px" src="' + icon + '"> ' + name+'<hr>';

            legend.appendChild(div);

        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVyWk8s6eYntMf-FhDcBtjWYhaOZeTBto&callback=initMap">
</script>
</body>
</html>