body{
    background-color: rgb(157, 191, 111)!important;

}
.topSocial ul li a {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    padding-top: 4px;
    text-align: center;
    width: 30px;
    margin-left: 7px;
}

.headerArea_2{
    background: #fff;
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 20px;
    padding-top: 23px;
    z-index: 99;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}



.back_black{
    background-color: rgb(255, 255, 255, .5);
}


.card {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    border: 0px solid #000000;
}
.cardBorder {
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
.cardTransparent {
    margin-top: 4%;
}
.card2 {
    margin-top: 12%;
    margin-left: 2%;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    border: 0px solid #000000;
}
.login_button{
    padding-top: 29%!important;
    padding-bottom: 15%!important;
}
.register_button{

    padding-bottom: 11%!important;
}

.btn-sample {
    color: #ffffff;
    background-color: #1B8500;
    border-color: #02691A;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    color: #ffffff;
    background-color: #247A38;
    border-color: #02691A;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #1B8500;
    border-color: #02691A;
}

.btn-sample .badge {
    color: #1B8500;
    background-color: #ffffff;
}
.button-center{
    margin-left: auto;
    margin-right: auto;
}
a{
    color: #104010;
}
a:hover{
    color: #104010;
}
hr {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid #eee;
}

.edit{
    margin-top: 10%;
}
.size{
    font-size: 150%;
}
hr {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10%;
    border: 0;
    border-top: 1px solid #eee;
}

.input:focus {
    outline: none !important;
    border:1px solid rgb(157, 191, 111);
    box-shadow: 0 0 10px rgb(157, 191, 111);
}

textarea
{
    resize: none;
}